body
{
  color: white;
  background: #a305ac;
}
span
{
  font-size: 30px;
}
#webcam , #snap
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#name1 ,#name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.header{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  color: rgb(52, 241, 23);
  border-radius: 10px;
  padding:6px;

}
